
.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    
  }
  
  .App-logo {
    height: 10rem;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: white;
    
    
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .shield{
    width: 70%;
    height: auto;

      & h3 {
        color:#61dafb;
        text-align: left;
        
      }
      & h2 {
        color:#61dafb;
        text-align: left;
        margin-top: 5rem;
        text-decoration: underline;
        
      }
      & .shield-def {
        color:white;
        text-align: left;
        font-size: 1.5rem;

        & strong{
          text-transform: uppercase;
          font-weight: normal;
          color: #61dafb;

        }

      }
  }

.source {
  text-decoration: none;
  color: #61dafb;
  font-size: 1.2rem;
  cursor: pointer;

    &:hover {
      color:#93db6a;
      text-decoration: underline;
    }
  }

  em{
    text-decoration: underline;
    color:#93db6a;
  }



/*MédiaQueries ==================================================*/

@media screen and (max-width: 599px) {
  .shield{
    width: 90%;
    height: auto;

      & h3 {
        color:#61dafb;
        text-align: left;
        
      }
      & h2 {
        color:#61dafb;
        text-align: left;
        margin-top: 5rem;
        text-decoration: underline;
        
      }
      & .shield-def {
        color:white;
        text-align: justify;
        font-size: 1.2rem;

        & strong{
          text-transform: uppercase;
          font-weight: normal;
          color: #61dafb;

        }

      }
  }




}
  